/*
* body��`
*/
body {
     background-image:url('../img/2.jpg');
     background-position:center;
     background-size:cover;
     overflow: hidden;
}
errorbody {
    background-color: red;
}
#wrapper {
    width:100%;
    padding:0px;
}


/*
* �w�b�_�[�A�t�b�^�[���ʒ�`
*/
#header,#gymBody,#footer {
    width: 100%;
    margin: 0px;
    padding: 5px;
}

/*
* �w�b�_�[��`
*/
#header {
    top: 2px;
    height: 40px;
    width:100%;
}
#headLeft {
    width:200px;
    text-align:left;
}
#headCenter {
    font-size: 24px;
    color: #FFFF00;
    width:800px;
    text-align:center;

}
#headRight {
    width:200px;
    text-align:right;
}
/*
* ���j���[��ʂ̃{�^��
*/
.menuBlock {
    margin-left:30px;
    float:left;
    text-align:"center";
    padding:30px;
}

/*
* �Ɩ�body��`
*/
#gymBody {
    height: 500px;
    overflow: auto;    
}

/*
* �t�b�^�[��`
*/
#footer {
    bottom: 1%;
    height: 90px;
}
#footLeft {
    float:left;
    width:400px;
    text-align:left;
}
#footCenter {
    float:left;
    width:400px;
    text-align:center;
}
#footRight {
    float:left;
    width:400px;
    text-align:right;
}
/*
* �G���[�y�[�W �w�b�_�[�A�t�b�^�[���ʒ�`
*/
#errorHeader,#errorGymBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* �G���[�y�[�W �w�b�_�[��`
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* �G���[�y�[�W �Ɩ�body��`
*/
#errorGymBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* �G���[�y�[�W �t�b�^�[��`
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

/*
* �{�^���T�C�Y�ʏ�
*/
.smlButton {
    width: 80px;
    height:50px;
    background-color: rgb(255, 0, 128);
    border: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease, box-shadow 0.5s ease;
	transition: background-color 0.3s, color 0.3s;
	border-radius: 50%;
	color: #fff;
	line-height: 50px;
    padding: 0;
	}
	
.smlbutton:focus {
    outline: none; /* フォーカス時のアウトラインを削除 */
}

.smlbutton:active {
    transform: translateY(2px); /* クリック時にボタンを下に2px移動 */
}	

.smlbutton:hover {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); /* ホバー時の背景色 */
  color: #cccccc; /* ホバー時のテキスト色 */
}

/*
* �{�^���T�C�Y��
*/
.bigButton {
    width: 200px;
    height: 50px;
    background-color: orange;
    border: none;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease, box-shadow 0.5s ease;
	transition: background-color 0.3s, color 0.3s;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	color: #fff;
}
	 
.bigbutton:focus {
    outline: none; /* フォーカス時のアウトラインを削除 */
}

.bigbutton:active {
    transform: translateY(2px); /* クリック時にボタンを下に2px移動 */
}

.bigbutton:hover {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); /* ホバー時の背景色 */
  color: #cccccc; /* ホバー時のテキスト色 */
}

/*
* �{�^���T�C�Y�����O
*/
.lngButton {
    width: 200px;
    height: 30px;
    background-color: #E0E0E0;
    border: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease, box-shadow 0.5s ease;
	transition: background-color 0.3s, color 0.3s;}

.lngbutton:hover {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);/* ホバー時の背景色 */
  color: #cccccc; /* ホバー時のテキスト色 */
}
	
.lngbutton:focus {
    outline: none; /* フォーカス時のアウトラインを削除 */
}

.lngbutton:active {
    transform: translateY(4px); /* クリック時にボタンを下に2px移動 */
}	

/*
* �߂�{�^���̃X�^�C��
*/
.backBtn {
    top: 5px;
    left: 10px;
}

/*
* �e�[�u���w�b�_�[�̃X�^�C��
*/
.tblHeader {
    background-color: #98FB98;
    font-weight: bold;
}

/*
* �e�[�u���{�f�B�̃X�^�C��
*/
.tblBody {
    background-color: #E0FFFF;
}
/*
* �����F ��
*/
.fontBlack {
    color: black;
}

/*
* �����F ��
*/
.fontBlue {
    color: blue;
}

/*
* �����F ��
*/
.fontRed {
    color: red;
}